/* J ai choisi plusiers font-family au cas ou un langage n'est pas lu ou reconnu par un navigateur*/
.corp{
	font-family: "Century Gothic", Calibri, serif;
	font-size: 13px;
	margin: 10px;
	padding: 0px;
}
.titre1{
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}
.entete{
	height: 100px;
}
.piedpage{
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #C5C5C5;
	border: 10px, groove, black;
}
/* Les 4 selecteurs suivant vont faire ma partie haut de ma page*/
/*Faire une reset de marges de notre element ul*/
nav ul{
	margin: 0px;
	padding: 0px;
}
/* Me permet de mettre les elements de menu en ligne*/
nav li{
	list-style-type: none;
	float: left;
}
/* On va etends notre menu et le donne un couleur de fond*/
nav{
	width: 100%;
	background-color: #424558;
}
/* On donne de la forme à nos elements a*/
nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
}
.table{
	display: table;
	margin: 0 auto;
}

.introduction{
	width:100%;
	min-height:100px;
	padding-bottom:10px;
	margin-bottom:10px;
	text-align:center;
}
	
.blanc{
	background: linear-gradient(to right, blue, white);/* me permet de creer un fond avec une couleur degradient*/
	margin-right: 280px;
	text-align: center-left;
}
.red{
	background: linear-gradient(to right, #FFE5CC, white);/* me permet de creer un fond avec une couleur degradient*/
	margin-right: 280px;
	text-align: center-left;
}
/*Les deux elements suivant n'ont pas besoin de class car je vais que tous les titre 2 et titre 3 ont une homogeneite*/
h2{
	color: #424558;
	text-transform: uppercase;
	font-size: 25px;
	font-family: Calibri, serif;
}
h3{
	color: #A9A9A9;
	text-transform: uppercase;
	font-size: 15px;
	font-family: Arial, serif;
}
.sautpage{
	position: fixed;
  top: 190px;
  left: 1250px;
  width: 200px;
  height: 400px;
  background-color: #C5C5C5;
}
.som{
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
	